
<!DOCTYPE html>
    
<head>
    <title>Home</title>
    <link rel="icon" type="image/png" href="https://png.pngtree.com/png-vector/20190324/ourmid/pngtree-vector-writing-icon-png-image_862311.jpg"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body style="background-color: cadetblue;">
    <div class="box" >    
        
        <a href="/graphql" target="_blank" class="text"> GraphQL Endpoint </a> <br/><br/>
        To create a super user from terminal before running server in the manage.py's path, use below command: <br/>
               》 python manage.py createsuperuser <br/>
               (To skip Email hit ENTER key again)
        <br/>
        <a href="/admin" target="_blank" class="text"> To-Do App </a> <br/>
        
    </div>
</body>
</html>